*{
    margin: 0px;
}
body{
    background-color: #E2E2E2;
}
.navbar{
    background-color: #58614E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}
.n2{
    color: white;
    margin-left: 20px;
    font-size: 14px;

}
.header{
    display: flex;
    border: 2px solid white;
    box-shadow: 0px 0px 10px grey;
    
}
.headertext{
    text-align: center;
    padding: 50px;
    line-height: 45px;
    margin-top: 20px;

}
.headertext p{
    font-size: 30px;
}
.family{
         background-color: white;
}
.mainheader{
    margin: 50px;
}
.headernext{
    display: flex;
    padding: 30px;
    border: 2px dotted white;
    padding-right: 30px;
    background-color: white;
    color: #636363;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}
.headerh{

padding-right: 50px;
}
.testimonials{
text-align: justify;
border-left: 1px dotted grey;
padding-left: 30px;
}
.headernext p{
line-height: 30px;
text-align: justify;
color: #636363;
}
.headernext h1{
    padding-bottom: 30px;
}


.card{
    width: 200px;
    padding: 20px;
}
.cardi{
    display: block;
    margin: auto;
    border: 6px ridge white;
    margin-bottom: 15px;

}
.btn{
    background-color: grey;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 15px;
}
.imagedivision{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}
.about h1{
    padding-left: 23px;
    color: #636363;
}
.about{
    border: 2px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.d1{
    margin-left: 110px;
    color: #636363;
}
h4{
    color: #626262;
    padding-bottom: 5px;
}
.footerinnerone{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    padding-left: 100px;
    padding-right: 100px;
}
.a{
    width: 300px;
    padding: 20px;
    line-height: 25px;
    border-right: 1px dotted grey;
   
}
.mailbtn{
    background-color: grey;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 30px;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
}
.b{
    border-right: none;
}
.footerinner2{
    background-color: #4F5843;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.i1{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 20px;
}
.g{
    font-size: small;
    color: rgba(238, 234, 234, 0.9);
}
